.navWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: space-between;
}

.navSection {
	min-width: 120px;

	h4 {
		color: white;
		font-weight: 500;
		margin-bottom: 12px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 6px;
			color: #aaa !important;
			cursor: pointer;

			a {
				color: white;
				text-decoration: none;
			}

			&:hover {
				color: white;
			}
		}
	}
}
.footerLink {
	color: white;
	text-decoration: none;
}

.footerLink:hover {
	text-decoration: underline;
}
