.carousel {
	overflow: hidden;
	width: 100%;
	position: relative;

	&.left .track {
		animation: scroll-left 150s linear infinite;
	}

	&.right .track {
		animation: scroll-right 150s linear infinite;
	}
}

.track {
	display: flex;
	width: max-content;
}

.image {
	width: 190px;
	height: 180px;
	object-fit: cover;
	margin: 0 10px;
	border-radius: 12px;
}

@keyframes scroll-left {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

@keyframes scroll-right {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0);
	}
}
