.wrapper {
	padding: 40px 20px;
	max-width: 1200px;
	margin: auto;
}

.title {
	font-size: 32px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
}

.subtitle {
	color: #aaa;
	margin-bottom: 30px;
	font-size: 15px;
	max-width: 700px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: hidden;
}

.headerRow,
.dataRow {
	display: grid;
	grid-template-columns: 1fr repeat(3, 1fr);
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
}

.featureCell {
	font-weight: bold;
	padding: 16px;
	color: #fff;
	border-right: 1px solid #222;
	border-left: 1px solid #222;
}

.planHeader {
	padding: 16px;
	font-weight: 600;
	color: #fff;
	position: relative;
	text-align: start;
	border-right: 1px solid #222;
}

.popularTag {
	background-color: red;
	color: white;
	font-size: 10px;
	padding: 2px 6px;
	border-radius: 3px;
	position: absolute;
	top: 8px;
	right: 8px;
}

.valueCell {
	padding: 16px;
	color: #ccc;
	text-align: start;
	border-right: 1px solid #222;
}
